.openzeppelin/unknown-31337.json
.openzeppelin/unknown-1337.json
node_modules/
build/
wrangler.toml
artifacts/
cache/
.env
.yarn-error.log
.idea
typechain-types/

coverage
coverage/

artifacts-zk
cache-zk

cache_forge
out
lib